<div class="row clearfix">
  <% if todo_item.completed? %>
    <div class="complete">
      <%= link_to "Mark as Incomplete", incomplete_todo_list_todo_item_path(@todo_list, todo_item.id), 
      method: :patch %>
      <i style="opacity: 0.4;" class="fa fa-check"></i>
    </div>
    <div class="todo_item">
      <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
    </div>
    <div class="trash">
      <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), 
      method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  <% else %>
    <div class="complete">
      <%= link_to "Mark as Complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), 
      method: :patch %>
      <i class="fa fa-circle-thin"></i>
    </div>
    <div class="todo_item">
      <p>
        <%= todo_item.content %>
        <% if todo_item.priority == 3 %>!!!<% end %>
        <% if todo_item.priority == 2 %>!<% end %>
        <% if todo_item.priority == 1 %><% end %>
      </p>
      <% unless todo_item.due_at.nil? %>
        <p>Due by:<%= todo_item.try(:due_at).strftime(" %A, %d %B %H:%M")  %> </p>
      <% end %>
    </div>
    <div class="trash">
      <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), 
      method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  <% end %>
</div>
