<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<div id="todo_items_wrapper">
  <%= render @task.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
